 .full-height {
                height: 100vh;
            }

            .flex-center {
                align-items: center;
                display: flex;
                justify-content: center;
            }

            .position-ref {
                position: relative;
            }

            .top-right {
                position: absolute;
                right: 10px;
                top: 18px;
            }

            .content {
                text-align: center;
            }

            .title {
                font-size: 84px;
            }

            .links > a {
                color: #636b6f;
                padding: 0 25px;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: .1rem;
                text-decoration: none;
                text-transform: uppercase;
            }

            .m-b-md {
                margin-bottom: 30px;
            }
            .login_bg {
                background-image: url('/images/login_bg.png');
                background-repeat: no-repeat;
                background-size: 100% 970px;

            }
            .login_box {
                width: 315px;
                height: 469px;
                background-color: #FFF;
                border-radius: 5px;
                box-shadow: 1px 6px 11px grey;

            }
            .header_bar{
                border-bottom: 1px solid grey;
                padding-top: 1px
            }
            .form_box{
                margin: 10px;
            }
            .form_input{
                margin-top: 9px;
            }
            .input_bar{
                width: 220px;
                border: 1px solid skyblue;
                padding: 9px;
                border-radius: 7px;

            }
            .box{
                margin: 24px;
            }
            .btn{
                background-color: #1fd1ef;
                color: #FFF;
                border: 1px solid skyblue;
                width: 127px;
                height: 38px;
                border-radius: 7px;
                font-size: 19px;
            }
            .link_tag{
                text-decoration: none;
                color: #1fd1ef;
            }
            .red-color{
                color: red;
            }



            .side_nav ul{
   list-style: none;
}

    /* CSS to style Treeview menu  */
.menu_tree {
    padding: 0 0 0 30px;
    width: 300px;
}

.list_menu_tree{ 
    position: relative; 
    margin-left: -15px;
    list-style: none;
}      
.list_menu_tree input {
    position: absolute;
    left: 0;
    margin-left: 0;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
    height: 1em;
    width: 1em;
    top: 0;
}
.list_menu_tree input + ol {
    background: url(/images/toggle-small-expand.png) 40px 0 no-repeat;
    margin: -2.300em 0px 8px -44px;
    height: 2em;
}
.list_menu_tree input + ol > li { 
    display: none; 
    margin-left: -14px !important; 
    padding-left: 1px; 
}
.list_menu_tree label {
    cursor: pointer;
    display: block;
    padding-left: 37px;
}
.list_menu_tree input:checked + ol {
    background: url(/images/toggle-small.png) 40px 5px no-repeat;
    margin: -2.55em 0 0 -43px;
padding: 2.563em 0 0 88px;
    height: auto;
}
.list_menu_tree input:checked + ol > li { 
    display: block; 
    margin: 8px 0px 0px 0.125em;
}
.list_menu_tree input:checked + ol > li:last-child { 
    margin: 8px 0 0.063em;
}

.menu_assign {
    list-style: none;
}
.text-blue{
    color: blue;
    font-weight: bold;
}

/*my menus*/
.menu-parent{
    padding: 0; 
    list-style: none;
}
.menu-parent .drop-child {
    width: 100%;
    height: 44px;

}
.menu-parent .child {
    width: 100%;
    height: 44px;

}
.grand-child {
    width: 100%;
    height: 44px;

}
.drop-child p {
    float: left;
}
.drop-child a {
    float: right;
}
.menu-parent li {
    padding: 11px;
    background-color: #C8E6C9;
    margin: 2px;

}
.menu-parent li a {
    text-decoration: none;
    cursor: pointer;
    text-align: right;
}
.menu-parent ul li {
    padding: 11px;
    background-color: #E8F5E9;
    margin: 2px;

}
.menu-parent  ul{
    padding: 0;
    list-style: none;
    /*display: none;*/
}



/*.nav-head
{
    padding-left:0px !important;
}*/
.box{
  /*border: 1px solid wheat;*/
padding: 12px;
height: auto;
/*background-color: wheat;*/
margin: 6px;
border-radius: 6px;


}
.color-box{
  
padding: 4px;
margin: 4px;
border-radius: 5px;

}
.red-color{
  color: red;
}
.green-color{
  color:green;
}

.white-color{
  color: #FFF;
}
.center-align{
  margin-left: 5px;
}
.number-big {
  font-size: 53px;
font-weight: 700;
}

.nav-wrap:hover .site-head
{
    margin-left: 200px;
width: 1720px;
}
.ring {
width: 40px;
height: 40px;
border-radius: 50%;
position: absolute;
background-color: transparent;
-webkit-animation-name: ani;
-webkit-animation-iteration-count: infinite;
-webkit-animation-timing-function: linear;
-webkit-animation-duration: 6s;
-webkit-animation-direction: normal;
animation-name: ani;
animation-iteration-count: infinite;
animation-timing-function: linear;
animation-duration: 6s;
animation-direction: normal;
border-top: 15px solid transparent;
border-right: 15px solid white;
border-bottom: 15px solid transparent;
top: 4px;
}

.sbring {
width: 8px;
height: 8px;
border-radius: 50%;
position: absolute;
background-color: white;
top: 20px;
left: 24px;
}

@-webkit-keyframes ani {
0% {-webkit-transform: scale(0.01); opacity: 0} 
1% {-webkit-transform: scale(0.01); opacity: 0.8} 
95% {-webkit-transform: scale(1); opacity: 0.8;}
100% {-webkit-transform: scale(1); opacity: 0;}
}

@keyframes ani {
0% {transform: scale(0.01); opacity: 0} 
1% {transform: scale(0.01); opacity: 0.8} 
95% {transform: scale(1); opacity: 0.8;}
100% {transform: scale(1); opacity: 0;}
}

#r2 { -webkit-animation-delay: -1s;animation-delay: -1s;}
#r3 { -webkit-animation-delay: -2s;animation-delay: -2s;}
#r4 { -webkit-animation-delay: -3s;animation-delay: -3s;}
#r5 { -webkit-animation-delay: -4s;animation-delay: -4s;}
#r6 { -webkit-animation-delay: -5s;animation-delay: -5s;}
.profile-drop:hover .dropdown-menu
{
    display: block;
}
.nav-expand .nav-head{
    width: 220px !important;
}
body {
    letter-spacing: .5px;
    background: #efefef;
}
.tbl_wdth{
  width: 7% !important;
}

@media (min-width: 320px) and (max-width: 767px){
.site-logo a
    {
    font-size: 18px;
    text-decoration: none;
    }
    .off-canvas .main-container
    {
        margin-left: 0px;
    }
.nav-expand .main-container{ 
        margin-left:0px;


        /*z-index: 9999;*/
    }
        .off-canvas #site-nav
{
    width: 220px !important;
}
    .nav-expand #site-nav{ 
        width: 65px !important;
    }
 /*   .main-container{
        margin: 10px;
    }*/
    .btn-circle.btn-lg {
    width: 12px;
    height: 12px;
    padding: 0px 3px;
    font-size: 8px;
}

}
.snd_btn{
    background-color: #4CB8DF;
    border: none;
    border-radius: 15px;
    font-weight: 700;
   /* height: 30px;*/
   padding: 5px 13px;
    color: #fff;
}
.snd_btn:hover
{
    color: #fff;
}
.snd_btn i
{
    font-size: 16px;
    padding-left: 5px;
}
.adm_btn
{
    background-color:#C6BD30;
}
.ina_btn{
    background-color:#F59503;
}
.a_btn{
    background-color:#027B19;
}
.e_btn
{
     background-color:#687C94;
}
.active_btn
{
     background-color:rgb(68,157,68);
     color: #FFF;
     border: 1px solid rgb(68,157,68);
     border-radius: 4px;
}
.inactive_btn
{
     background-color:rgb(210,16,16);
     color: #FFF;
     border: 1px solid rgb(210,16,16);
}
.d_btn
{
     background-color:#D21010;
}
.btn-circle.btn-lg {
width: 28px;
height: 28px;
/*padding: 10px 16px;*/
padding-top: 5px;
font-size: 15px;
line-height: 1.33;
border-radius: 25px;
border: none;
color: #fff;
}
.doc_btn
{
    background-color: #4B0082;
}
.v_btn
{
  background-color: #0091ea;
}
@media (min-width: 320px) and (max-width: 767px){

    .btn-circle.btn-lg {
    width: 15px;
height: 15px;
padding: 0px 3px;
font-size: 11px;
margin-left: -3px;
}

}
@media (max-width: 1280px){
  .btn-circle.btn-lg {
    width: 15px;
    height: 15px;
    font-size: 11px;
    padding: 1px 1px 0px 1px;
    margin-left: -3px;
}
}
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}


.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}
.inputfile + label {
color: #e6f2ff;
background-color: #063763;
}
.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    padding: 0.625rem 1.25rem;
}
.inputfile + label i {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

 .inputicon {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputicon + label {
     max-width: 80%;
    font-size: 1.75rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
}
.inputicon + label i {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    margin-right: 0.25em;
}

.my_btn{
    padding: 4px !important;
    text-decoration: none !important;
}
.hidden_form{
    position: absolute;
}